* {
    margin: 0;
    padding: 0;
}


footer{
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 40%;
    margin-top: 50px;
    color: white;
}

body {
    background: rgb(58, 56, 56);
}


h1{
    text-align: center;
    margin-top: 40px;
    color: white;
    
}

#container {
    padding: 2% 0 5% 8%;
    height: 600px;
    width: 70%;
    margin:auto;
    margin-top: 20px;
    border: solid black 1px;
    border-radius: 8px;
    background-color: rgb(164, 172, 164);
    overflow: scroll;

    
}

.flag-container {
    width: 250px;
    box-sizing: border-box;
    height: 150px;
    padding: 10px;
    margin: 10px;
    float: left;
    position: relative;
    border: solid black 1px;
    border-radius: 15px;
    overflow: visible;
}

.flag {
    height: 120px;
    width: 210px;
    margin: auto;
}

.flag-container:hover {
    background: rgb(157, 226, 235);
    border:solid rgb(64, 0, 212) 4px;
}


.flag p{
    position: absolute;
    top:130px;
    text-align: center; /* ?????? */
    text-transform: uppercase; 
}

/* **************** Ethiopia *****************/
#eth-row1{
    background: #078930;
    height: 40px ;
}
#eth-row2{
    background: #FCDD09;
    height: 40px;
}
#eth-row3{
    background: #DA121A;
    height: 40px;
}
.eth-emb{
    position: absolute;
    left: 37%;
    top: 27%;
    height: 40%;
    width: 30%;
}

/* **************** Germany **************** */

#deu-row1{
    background: #000;
    height: 40px ;
}
#deu-row2{
    background: #DD0000;
    height: 40px ;
}
#deu-row3{
    background: #FFCE00;
    height: 40px ;
}


/* **************** Belgium **************** */

#bel-row1{
    background: #000;
    width: 70px ;
    float: left;
    height: 120px;
}
#bel-row2{
    background: #FDDA24;
    width: 70px ;
    float: left;
    height: 120px;
}
#bel-row3{
    background: #EF3340;
    width: 70px ;
    float: left;
    height: 120px;
}


/* **************** Nigeria **************** */

#nig-row1{
    background: #008751;
    width: 70px ;
    float: left;
    height: 120px;
}
#nig-row2{
    background: #FFF;
    width: 70px ;
    float: left;
    height: 120px;
}
#nig-row3{
    background: #008751;
    width: 70px ;
    float: left;
    height: 120px;
}

/* **************** Egypt **************** */

#egy-row1{
    background: #CE1126;
    height: 40px ;
}
#egy-row2{
    background: #FFF;
    height: 40px ;
}
#egy-row3{
    background: #000;
    height: 40px ;
}

/* **************** Ivory Coast **************** */

#cot-row1{
    background: #009E60;
    width: 70px ;
    float: left;
    height: 120px;
}
#cot-row2{
    background: #FFF;
    width: 70px ;
    float: left;
    height: 120px;
}
#cot-row3{
    background: #F77F00;
    width: 70px ;
    float: left;
    height: 120px;
}

/* **************** Senegal **************** */

#sen-row1{
    background: #00853F;
    width: 70px ;
    float: left;
    height: 120px;
}
#sen-row2{
    background: #FDEF42;
    width: 70px ;
    float: left;
    height: 120px;
}
#sen-row3{
    background: #E31B23;
    width: 70px ;
    float: left;
    height: 120px;
}

/* **************** Israel **************** */

#isr-row1{
    background: #FFF;
    height: 10px ;
    border-bottom: solid #0038B8 15px;
}
#isr-row2{
    background:  #FFF;
    height: 70px ;
    
}
#isr-row3{
    background:  #FFF;
    height: 10px ;
    border-top: solid #0038B8 15px;
}

/* **************** Ukraine **************** */

#ukr-row1{
    background: #005BBB;
    height: 60px ;
}
#ukr-row2{
    background: #FFD500;
    height: 60px ;
}

/* **************** Spain **************** */

#esp-row1{
    background: #AA151B;
    height: 10px ;
    border-bottom: solid#AA151B 15px;
}
#esp-row2{
    background: #F1BF00;
    height: 70px ;
    
}
#esp-row3{
    background: #AA151B;
    height: 10px ;
    border-top: solid #AA151B 15px;
}

/* **************** Tunisia **************** */
#tun-row1{
    background: #E70013;
    height: 120px ;
}

/* **************** Netherlands **************** */

#neth-row1{
    background: #AE1C28;
    height: 40px ;
}
#neth-row2{
    background: #FFF;
    height: 40px ;
}
#neth-row3{
    background: #21468B;
    height: 40px ;
}

/* **************** Croatia **************** */

#cro-row1{
    background: #FF0000;
    height: 40px ;
}
#cro-row2{
    background: #FFF;
    height: 40px ;
}
#cro-row3{
    background: #171796;
    height: 40px ;
}

/* **************** Estonia **************** */

#est-row1{
    background: #0072CE;
    height: 40px ;
}
#est-row2{
    background: #000;
    height: 40px ;
}
#est-row3{
    background: #FFF;
    height: 40px ;
}

/* **************** Ghana **************** */

#gha-row1{
    background: #CE1126;
    height: 40px ;
}
#gha-row2{
    background: #FCD116;
    height: 40px ;
}
#gha-row3{
    background: #006B3F;
    height: 40px ;
}


/* **************** Italy **************** */

#ita-row1{
    background: #008C45;
    width: 70px ;
    float: left;
    height: 120px;
}
#ita-row2{
    background: #F4F5F0;
    width: 70px ;
    float: left;
    height: 120px;
}
#ita-row3{
    background: #CD212A;
    width: 70px ;
    float: left;
    height: 120px;
}

/* **************** Austria **************** */

#aus-row1{
    background: #ED2939;
    width: 70px ;
    float: left;
    height: 120px;
}
#aus-row2{
    background: #FFF;
    width: 70px ;
    float: left;
    height: 120px;
}
#aus-row3{
    background: #ED2939;
    width: 70px ;
    float: left;
    height: 120px;
}

/* **************** Poland **************** */

#pol-row1{
    background: #FFF;
    height: 60px ;
}
#pol-row2{
    background: #DC143C;
    height: 60px ;
}